@import url('https://fonts.googleapis.com/css2&family=Cascadia+Code:ital,wght@0,200..700;1,200..700&display=swap');

.main, body {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: inline-flex
}

.header {
    align-self: stretch;
    padding-top: 48px;
    padding-bottom: 24px;
    padding-left: 378px;
    padding-right: 378px;
    background: var(--Negro-Cynthia, #22201B);
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    display: flex
}

.bar {
    align-self: stretch;
    height: 55px;
    padding-top: 8px;
    padding-bottom: 8px;
    background: var(--Negro-Cynthia, #22201B);
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    display: inline-flex
}

.bar-element {
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: var(--Blanco-Cynthia, #DED8C7);
    font-size: 32px;
    font-family: Cascadia Code;
    font-style: italic;
    font-weight: 400;
    word-wrap: break-word

}

#navbar {
    position: sticky;
    top: 0;
    align-self: stretch;
    height: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    background: var(--Negro-Cynthia, #22201B);
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    display: inline-flex
}


.contents {
    align-self: stretch;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 54px;
    display: flex
}


footer {
    align-self: stretch;
    padding: 10px;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    display: inline-flex
}

.footer-text {
    text-align: center;
    color: rgba(222.31, 216.24, 198.79, 0.57);
    font-size: 24px;
    font-family: Cascadia Code;
    font-weight: 400;
    word-wrap: break-word
}

.footer-div {
    flex: 1 1 0;
    padding: 10px;
    background: var(--Negro-Cynthia, #22201B);
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    display: flex
}